/* CSS styling */
body {
    background-color: rgb(9, 78, 75);
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
h1 {
    text-align: center;
}
p {
    text-align: justify;
}
a {
    color: rgb(168, 178, 53);
    ;
    text-decoration: none;
}
main {
    flex: 1;
}
footer {
    text-align: center;
    background-color: black;
    padding: 5px;
    margin-top: auto;
    margin-bottom: 15px;

}
.cloud-providers {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.cloud-providers img {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    margin: 20px;
}
